<!DOCTYPE html>
<html>
<head>
<title>Smart Campus Assistant</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="fullscreen">

<div class="home-container">

    <div class="home-header">
        Smart Campus Assistant
    </div>

    <div class="home-options">

        <a href="/chat" class="home-card student">
            🎓 Student / Visitor  
            <span>Ask about teachers and rooms</span>
        </a>

        <a href="/login" class="home-card teacher">
            👩‍🏫 Teacher / Admin  
            <span>Login to manage data</span>
        </a>

    </div>

</div>

</body>
</html>