<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <div class="header">
        <h1>Teacher Dashboard</h1>
    </div>

    <div class="card">
        <h2>Current Status</h2>
        <p><strong>Status:</strong> {{ status_row.status if status_row else "Not Set" }}</p>
        <p><strong>Location:</strong> {{ status_row.location if status_row else "Not Set" }}</p>
        <p><strong>Message:</strong></p>

            {% if status_row and status_row["message"] %}
            <div class="message-box">
                {{ status_row["message"] }}
            </div>

            <form action="/delete_message" method="POST">
                <button type="submit" class="delete-msg-btn">
                    Delete Message
                </button>
            </form>

            {% else %}
            <p>No message yet.</p>
            {% endif %}
    </div>

    <div class="card">
        <h2>Update Your Status</h2>

        <form method="POST" action="/update_status">
            <label>Status</label>
            <select name="status">
                <option>Available</option>
                <option>Busy</option>
                <option>In Class</option>
            </select>

            <label>Current Location</label>
            
            <input 
                type="text" 
                name="location" 
                placeholder="Enter your current location (e.g. DBMS Lab, Room 204)"
                required
            >
            <label>Message for Students</label>
            <input 
                type="text" 
                name="message"
                placeholder="Example: Will be available at 3 PM"
            >

            <button class="btn" type="submit">Update Status</button>
        </form>
    </div>

    <a href="/logout" class="btn btn-danger">Logout</a>

</div>

</body>
</html>